body {
    background-color: black;
    color: #fcdb03;
    font-family: monospace;
    text-align: center;
    margin-top: 100px;
}
input {
    background: black;
    border: 1px solid #fcdb03;
    color: #00ff9c;
    padding: 10px;
}
button {
    background: black;
    border: 1px solid #fcdb03;
    color: #fcdb03;
    padding: 10px;
}
